In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import fetch_openml
plt.style.use('dark_background')
pd.set_option('display.max_columns', 200)

In [2]:
df = pd.read_excel(r"./Data_Train.xlsx")
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [17]:
df[(df['Destination']=='New Delhi')&(df['Source']=='Banglore')&(df['Total_Stops']=='1 stop')].head(15)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
6,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,18:55,10:25 13 Mar,15h 30m,1 stop,In-flight meal not included,11087
7,Jet Airways,01/03/2019,Banglore,New Delhi,BLR → BOM → DEL,08:00,05:05 02 Mar,21h 5m,1 stop,No info,22270
8,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,08:55,10:25 13 Mar,25h 30m,1 stop,In-flight meal not included,11087
21,Air India,21/03/2019,Banglore,New Delhi,BLR → COK → DEL,22:00,13:20 19 Mar,15h 20m,1 stop,No info,6955
38,Jet Airways,06/03/2019,Banglore,New Delhi,BLR → BOM → DEL,07:00,13:15,6h 15m,1 stop,No info,19225
41,Air India,15/03/2019,Banglore,New Delhi,BLR → BOM → DEL,06:45,15:15,8h 30m,1 stop,No info,8714
71,Jet Airways,09/03/2019,Banglore,New Delhi,BLR → BOM → DEL,05:45,08:15 13 Mar,26h 30m,1 stop,In-flight meal not included,9134
85,Jet Airways,06/03/2019,Banglore,New Delhi,BLR → BOM → DEL,14:05,11:25 07 Mar,21h 20m,1 stop,In-flight meal not included,13712
92,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,16:55,10:25 13 Mar,17h 30m,1 stop,No info,13817
110,Jet Airways,18/03/2019,Banglore,New Delhi,BLR → BOM → DEL,14:05,05:05 16 Mar,15h,1 stop,No info,13555
130,Air India,21/03/2019,Banglore,New Delhi,BLR → MAA → DEL,11:50,19:50,8h,1 stop,No info,5932
190,IndiGo,03/03/2019,Banglore,New Delhi,BLR → HYD → DEL,12:10,17:05,4h 55m,1 stop,No info,8738
194,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,20:35,15:15 13 Mar,18h 40m,1 stop,In-flight meal not included,11087
240,Jet Airways,18/03/2019,Banglore,New Delhi,BLR → BOM → DEL,11:40,20:20,8h 40m,1 stop,No info,13555

In [11]:
df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')